@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif!important;
}

.header-2 #header-wrap.fixed-header .navbar-nav .nav-link:hover {
    color: #27558e!important;
}

.btn-hello{
    background-color: #27558e!important;
    color: #fff!important;
}
.title1::before{
    position: absolute;
    left: 14%;
    width: 44%;
    margin: 0 auto;
    bottom: -13px;
    height: 3px;
    animation: rotate 80s infinite linear;
    -webkit-animation: rotate 80s infinite linear;
    content: "";
    border-radius: 5px;
    background: black;
}
.cardd{
    padding: 8px;
}

  .cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    
  }


@media only screen and (max-width: 414px){
    .about__desc{
        width:345px
    }
    .card__offre{
        height: 480px!important;
    }
    .button__details{
        left:56%!important;
    }
}
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }



 @media (min-width: 400px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }