@import url(//db.onlinewebfonts.com/c/04e6981992c0e2e7642af2074ebe3901?family=Helvetica+Now+Display);

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica Now Display, Bold;
}
