
a{
  transition: all .5s;
  text-decoration: none;
  color: #fff;

}
.blog__img{
  width: 100%;
  transition: all .5s;
}
.blog__section{
  padding: 70px 0;
  
  background: #07516E;
  text-align: center;
}
.container__blog{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.blog__main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}
.blog__header{
  width: 70%;
  margin: 0 auto;
}
.blog__title{
  margin: 0;
  font-size: 50px;
  color: #FF9C1E;
  font-weight: 500;
}
.blog__desc{
  color: #FF9C1E;
}
.singleBlog{
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
}
.singleBlog:hover{
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}
.singleBlog:hover .blog__img{
  transform: scale(1.1);
  transition: all .4s;
}
.blogContent{
  position: absolute;
  left: 0;
  bottom: -68px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgba(255,156,30,1) 0%,rgba(144,192,229,.4) 100%);
  transition: all .5s;
}
.singleBlog:hover .blogContent{
  bottom: 0;
  transition: all .5s;
}

.blogContent h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.blogContent h3 span{
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94,1.0)
}

.blogContent a{
  font-size: 14px;
  font-weight: 500;
}
.blogContent .btn{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
  color: #fff;
}
.blogContent .btn:hover{
  background: #07516E;
  transition: all .5s;
  text-decoration: none;
}
.blogContent a:hover{
  text-decoration: underline;
}
















@media (max-width:992px) {
  main{
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  }
}
@media (max-width:767px) {
  main{
    grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  }
  header{
    width: 95%;
  }
  .blogContent{
    bottom: 0;
  }
}
@media (max-width:500px) {

    main{
      grid-template-columns: repeat(1, 1fr);
    }
}
