.process__section{
    padding: 253px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

div.MuiPaper-root.MuiStepper-horizontal.MuiPaper-elevation0{
    background-color:#f5fff3!important ;

}
.MuiStepIcon-root.MuiStepIcon-active{
    color: #FF9C1E!important;
}
.MuiStepper-root{
    margin-left: 30%;
    margin-bottom: 4%;
    margin-top: -7%;
}
.MuiStepIcon-root.MuiStepIcon-completed{
    color: #FF9C1E!important;
}