.button__back{
    padding-top: 5%;
    margin-left: 0%;
}
img:hover {
    opacity:0.6;
    cursor: pointer;
  }
  
  img:active {
    opacity:0.4;
    cursor: pointer;
  }
  
  input[type=radio]:checked + label > img {
    border: 6px solid #07516E;
  }
  input[type=radio]:not(:checked)+ label > img {
    border: 20px solid #F4FAFF;
  }
